* {
    box-sizing: border-box;
}


.centrado{
    align-items: center;
}

/*.background{
    background-color: #F9E79F;
    height: 100vh;
}

.color-back{
    background-color: #D7DBDD;
    height: 100vh;
}

.color-nav{
    background-color: #2471A3;
}*/

.img{
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding-top: 80px;
    padding-bottom: 30px;     
    display:block;
    margin:auto;
}

.img2{
    width: 100%;
}

h2{
    font-family: 'Franklin Gothic Medium';
    color: #2471A3;
}

h3{
    font-family: Verdana;
    color: #808B96
}

.descargar{
    align-content: center;  
    width: 35%;
    height: 60px;
    font-family: Verdana;
    color: #808B96;
    border-style: solid;
    border-radius: 15px;
}

.position{
    margin-top: 350px;
}

.cards{
    margin: 15px;
}

.card{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);        
}

.phone{
    color: green
}

.mail{
    color: red
}

.location{
    color: red;
}

/*.nav-link{
    background-color: #DAF7A6;
    color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {    
    background-color: #95A5A6;
    color: black;
}*/