* {
    box-sizing: border-box;
}


.centrado{
    align-items: center;
    align-content: center;
}

.box{
    height: 100vh; 
    display: grid;
}

.img{
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding-top: 80px;
    padding-bottom: 30px;     
    display:block;
    margin:auto;
}

.img2{
    width: 100%;
}

h2{
    font-family: 'Franklin Gothic Medium';
    color: #2471A3;
}

h3{
    font-family: Verdana;
    color: #808B96
}

.descargar{
    display: flex;
    align-content: center;  
    width: max-content;
    height: 60px;
    font-family: Verdana;
    color: #808B96;
    border-style: solid;
    border-radius: 15px;
}

.position{
    margin: 15px;
    margin-left: 15px;
    display: grid;
}

.card{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 15px;       
}

.phone{
    color: green
}

.mail{
    color: red
}

.location{
    color: red;
}

.image{
    display: block;
    margin: auto;
    padding-top: 5px;
    width: 45%;
    height: 45%;
}
